<div class="ui padded page grid new_creation">
    <div class="ui eight wide column new_creation">
        <%flash.each do |key,value| %>
            <div class="ui <%=key %> message"><%=value %></div>
        <%end%>
        <%=form_tag(password_resets_path,class:'ui form centered black stacked segment') do%>
            
            <div class="ui blue ribbon label">
                <i class="edit icon"></i> Change Password
            </div>
            
            <h2 class="ui header">
                <i class="user icon"></i>
                <div class="content">
                    Change Password
                </div>
            </h2>
            
            <div class="field">
                <label>Email</label>  
                <%=text_field_tag(:email,nil,placeholder:'Email') %>
            </div>
            <div class="ui hidden divider"></div>
            <%=submit_tag 'Reset Password',class:'ui button'%>
        <%end%>
    </div>
</div>

            
