<div ng-show="layout=='listview'" class="listview horizontal_cards">
  <div class="ui divided items active tab" ng-init="init(<%=@listings.to_json(:include=>[:photos,:user])%>,<%=@user_listing.to_json(:include=>[:photos,:user]) %>,<%=@layoutType%>,<%=@extraClass%>)" data-tab="all" ng-class="{general_class: extra_class=='index_view'}">
    <div class="item" style="display:none;">
    </div>
    <div class="item card" ng-repeat="listing in genListings | filter:{'title':listing2.query} | filter:{'for_foster':listing1.for_foster} | filter:{'gender':listing1.gender,'pet_type':listing1.pet_type,'breed_type':listing1.breed_type,'age':listing1.age,'city':listing1.city}:true">

      <div class="image">

        <img ng-src='{{listing.photos[0].file_name.url}}' class='ui medium image list_image' style='border-radius:5px;max-width:100%;height:169px' ng-show="listing.photos[0]">
        <%=image_tag 'missing.png',class:'ui medium image',style:'max-width:100%;height:169px;width:100%;',:"ng-show"=>"!listing.photos[0]"%>
        </div>
        <div class="content listing_content">
          <button class="right floated ui positive button horizontal_type_button" ng-show="listing.for_foster=='foster'"><i class="paw icon"></i>For Foster</button>
          <button class="right floated ui purple button horizontal_type_button" ng-show="listing.for_foster=='adoption'"><i class="paw icon"></i>For Adoption</button>
          <button class="right floated ui blue button horizontal_type_button" ng-show="listing.for_foster=='0'"><i class="paw icon"></i>Buy/Sell</button>
          <%if current_user%>
            <%if request.fullpath!='/'%>
              <div class="right floated" ng-show="listing.user_id=='<%=current_user.uuid%>'">
                <i class="circular inverted blue trash icon vk_icons" ng-click="removeListing(listing.uuid)"></i>
              </div>
              <div class="right floated" ng-show="listing.user.id=='<%=current_user.uuid%>'">
                <a href="/listings/{{listing.id}}/edit"><i class="circular inverted teal edit icon vk_icons"></i></a>
              </div>
            <%end%>
          <%end%>


          <span class="listing_title"><%=link_to '{{listing.title}}','/listings/{{listing.uuid}}',class:'header'%></span>

          <div class="meta">
            <span class="cinema">
              <a class="ui olive label">Posted On
                {{listing.created_at| date:'MMMM d, y'}}
              </a>
            </span>

            <span class="city" ng-show="!isUndefinedOrNull(listing.city)">
              <a class="ui blue label">City: {{listing.city}}</a>
            </span>
            <span class="age" ng-show="!isUndefinedOrNull(listing.age)">
              <a class="ui teal label">Age: {{listing.age}}</a>
            </span>
            <span class="color" ng-show="!isUndefinedOrNull(listing.color)">
              <a class="ui yellow label">Color: {{listing.color}}</a>
            </span>
          </div>
          <div class="description horizontal_description">
            {{listing.description | limitTo:200}}
            <span ng-show="listing.description.length>200"><%=link_to 'Read More....','/listings/{{listing.uuid}}'%></span>
          </div>


          <div class="extra listing_price">
            <div class="right floated ui facebook button" ng-click="shareFb(listing)">
              <i class="facebook icon"></i>
              Share On Facebook
            </div>
            <a href="https://twitter.com/share" class="ui twitter button twitter_share" data-via="petzoned" data-size="large" data-count="none" data-hashtags="petzoned"><i class="twitter icon"></i>
              Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
