<div ng-show="layout=='listview'" class="listview horizontal_cards">
  <div class="ui divided items active tab" ng-init="init(<%=@listings.to_json(:include=>[:photos,:user]) %>,<%=@favourite.to_json(:include=>:photos) %>,<%=@user_listing.to_json(:include=>:photos) %>,<%=@layoutType%>,<%=@extraClass%>)" data-tab="all" ng-class="{general_class: extra_class=='index_view'}">
    <div class="item" style="display:none;">
    </div>
    <div class="item card" ng-repeat="listing in genListings | filter:{'title':listing2.query} | filter:{'gender':listing1.gender,'pet_type':listing1.pet_type,'breed_type':listing1.breed_type,'age':listing1.age,'color':listing1.color,'city':listing1.city}:true">

      <div class="image">

        <img ng-src='{{listing.photos[0].file_name.url}}' class='ui medium image list_image' style='border-radius:5px;max-width:100%;height:169px' ng-show="listing.photos[0]">
        <%=image_tag 'missing.png',class:'ui medium image',style:'max-width:100%;height:169px;width:100%;',:"ng-show"=>"!listing.photos[0]"%>
        </div>
        <div class="content listing_content">
          <%if current_user%>
            <div class="right floated ui huge star rating" id="{{listing.id}}" ng-click="toggleFav(favMarked=!favMarked,listing.id)">
              <i class="icon icon_{{listing.id}}"></i>
            </div>
            <%if request.fullpath!='/'%>
              <div class="right floated" ng-show="listing.user_id=='<%=current_user.uuid%>'">
                <i class="circular inverted blue trash icon vk_icons" ng-click="removeListing(listing.uuid)"></i>
              </div>
              <div class="right floated" ng-show="listing.user.id=='<%=current_user.uuid%>'">
                <a href="/listings/{{listing.id}}/edit"><i class="circular inverted teal edit icon vk_icons"></i></a>
              </div>
            <%end%>
          <%else%>
            <div class="right floated ui huge star rating no_user" data-content="You need to login to add to favourites" data-variation="large">
              <i class="icon"></i>
            </div>
          <%end%>
          

          <span class="listing_title"><%=link_to '{{listing.title}}','/listings/{{listing.uuid}}',class:'header'%></span>
          
          <div class="meta">
            <span class="cinema">Posted On
              {{listing.created_at| date:'MMMM d, y'}}
            </span>
            <span class="city" ng-show="!isUndefinedOrNull(listing.city)">
              City:{{listing.city}}
            </span>
            <span class="age" ng-show="!isUndefinedOrNull(listing.age)">
              Age:{{listing.age}}
            </span>
            <span class="color" ng-show="!isUndefinedOrNull(listing.color)">
              Color:{{listing.color}}
            </span>
          </div>
          <div class="description horizontal_description">
            {{listing.love_for_pets}}
          </div>


          <div class="extra listing_price">
            <div class="right floated ui facebook button" ng-click="shareFb(listing)">
              <i class="facebook icon"></i>
              Share On Facebook
            </div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="petzoned" data-size="large" data-count="none" data-hashtags="petzoned">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <div class="ui teal tag label price_label"><i class="rupee icon"></i>{{listing.price}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>