<div class="ui segment centersegment" ng-show="layout=='grid'">

  <div ng-show="layout=='grid'" class="grid">
    <!--start of tab-->
    <div class="ui four doubling link cards small_cards active tab" ng-init="init(<%=@listings.to_json(:include=>[:photos,:user]) %>,<%=@user_listing.to_json(:include=>[:photos,:user]) %>,<%=@layoutType%>)" data-tab="all" id="small_cards">
      
      <div class="card" ng-repeat="listing in genListings | filter:{'title':listing2.query} | filter:{'for_foster':listing1.for_foster} | filter:{'gender':listing1.gender,'pet_type':listing1.pet_type,'breed_type':listing1.breed_type,'age':listing1.age,'city':listing1.city}:true">
        <div class="content small_card_content">
          <%if current_user%>
            <%if request.fullpath!='/'%>
              <div class="right floated" ng-show="listing.user_id=='<%=current_user.uuid%>'">
                <i class="circular inverted blue trash icon vk_icons" ng-click="removeListing(listing.uuid)"></i>
              </div>
              <div class="right floated" ng-show="listing.user_id=='<%=current_user.uuid%>'">
                <a ng-href="/listings/{{listing.uuid}}/edit"><i class="circular inverted teal edit icon vk_icons"></i></a>
              </div>
            <%end%>
          <%end%>

          <%=link_to '{{listing.title}}','/listings/{{listing.uuid}}',class:'header'%>
          <div class="description">
            <div class="image">
              <a href="/listings/{{listing.uuid}}">
              <img ng-src='{{listing.photos[0].file_name.url}}' class:'ui medium image list_image' style="max-width:100%;height:169px;width:100%;" ng-show="listing.photos[0]">
              <%=image_tag 'missing.png',class:'ui medium image list_image',style:'max-width:100%;height:169px;width:100%;',:"ng-show"=>"!listing.photos[0]"%></a>
            </div>
            <div class="ui blue right ribbon label listing_price">
              <i class="rupee icon"></i>{{listing.price}}
            </div>
          </div>

          <div class="description pet_love">
            <p>
            {{listing.description | limitTo:200}}
            <span ng-show="listing.love_for_pets.length>200"><%=link_to 'Read More....','/listings/{{listing.uuid}}'%></span>
            </p>
          </div>
          <div class="meta_data_listing">
            <div class="content description city_color_age">
              <span class="meta">Posted On {{listing.created_at| date:'MMMM d, y'}}</span>
              <span class="right floated meta" ng-show="!isUndefinedOrNull(listing.city)">City: {{listing.city}}</span>
            </div>
            <div class="content description city_color_age">
              <span class="meta" ng-show="!isUndefinedOrNull(listing.color)">Color: {{listing.color}}</span>
              <span class="right floated meta" ng-show="!isUndefinedOrNull(listing.age)">Age: {{listing.age}}</span>
            </div> 
          </div>
        </div>
        <button class="ui positive button foster_button" ng-show="listing.for_foster=='foster'">For Foster</button>
        <button class="ui purple button foster_button" ng-show="listing.for_foster=='adoption'">For Adoption</button>
        <button class="ui blue button foster_button" ng-show="listing.for_foster=='0'">Buy/Sell</button>
        
        <div class="extra content">
          <span class="ui circular facebook icon button" ng-click="shareFb(listing)">
            <i class="facebook icon"></i>
          </span> 

          <a ng-href="https://twitter.com/share" class="ui circular twitter icon button" data-via="petzoned" data-size="large" data-hashtags="petzoned"><i class="twitter icon"></i></a>
          <div class="right floated author">
            
            <a class="ui blue image label creator_name" href="/users/{{listing.user.id}}">
              Posted By
              <div class="detail">{{listing.user.username}}</div>

            </a>
          </div>
        </div>
      </div>     
    </div>
    <!-- end of tab-->    
  </div>
</div>
