 <% javascript 'dynamic_breeds'%>
<div class="ui padded page grid new_list_page">

  <div class="ui eight wide column new_creation">

    <%=form_for @listing, :html=> { class:'ui form centered black stacked segment'} do |f|%>
    <%= render 'shared/error_messages', object: f.object %>


    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <div class="ui black ribbon label">
        <i class="signup icon"></i> Edit Listing
      </div>
  
      <h2 class="ui header">
        <i class="settings icon"></i>
        <div class="content">
          Edit Your Listing
          <div class="sub header">Manage your preferences</div>
        </div>
      </h2>

      <div class="required field">
        <label>Title</label>  
        <%=f.text_field :title,placeholder:'Title of the listing' %>
      </div>
      <div class="ui segment">
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox foster_pet">
              <%=f.radio_button :for_foster,'foster',class:'hidden foster_checkbox checkBox',:autocomplete => :off%>
              <label>Put my pet for foster home</label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox adoption_pet">
              <%=f.radio_button :for_foster,'adoption',class:'hidden foster_checkbox checkBox',:autocomplete => :off%>
              <label>Put this pet for adoption</label>
            </div>
          </div>
        </div>
      </div>
      <div class="two fields">

        <div class="required field">
          <label>Pet</label>
          <%= f.select(:pet_type,options_for_select([['Dog','Dog',{class:'item'}],['Cat','Cat',{class:'item'}]],:selected => f.object.pet_type),{prompt:'Pet Type'},class:'ui dropdown gender')%>
        </div>
        <div class="field">
          <label>Breed</label>
          <%= f.select(:breed_type,options_for_select(Breed.all.collect{|x| [x.name,x.name,class:'item']},:selected => f.object.breed_type),{prompt:'Breed'},class:'ui dropdown breed_type')%>
        </div>



      </div>
      <div class="two fields">
        <div class="required field">
          <label>Gender</label>
          <%= f.select(:gender,options_for_select([['Male','Male',{class:'item'}],['Female','Female',{class:'item'}]],:selected => f.object.gender),{prompt:'Gender'},class:'ui dropdown gender')%>
        </div>
        <div class="field">
          <label>City</label>
          <%= f.select(:city,options_for_select([['Mumbai','Mumbai',{class:'item'}],['Delhi','Delhi',{class:'item'}],['Pune','Pune',{class:'item'}],['Bangalore','Bangalore',{class:'item'}]],:selected => f.object.city),{prompt:'City'},class:'ui dropdown city')%>
        </div>
      </div>
      <div class="two fields">
        <div class="field">
          <label>Age</label>
          <%= f.select(:age,options_for_select([['Young','Young',{class:'item'}],['Adult','Adult',{class:'item'}],['Senior','Senior',{class:'item'}],['Puppy','Puppy',{class:'item'}]],:selected => f.object.age),{prompt:'Age'},class:'ui dropdown age')%>
        </div>
        <div class="field">
          <label>Color</label>
          <%= f.select(:color,options_for_select([['Black','Black',{class:'item'}],['Brindle','Brindle',{class:'item'}],['Brown/Choclate','Brown/Choclate',{class:'item'}],['Grey/Blue/Silver/Salt & Pepper','Grey/Blue/Silver/Salt & Pepper',{class:'item'}],['Merle','Merle',{class:'item'}],['Red/Golden/Orange/Chestnut','Red/Golden/Orange/Chestnut',{class:'item'}],['Tan/Yellow/Fawn','Tan/Yellow/Fawn',{class:'item'}],['Tricolor (Tan/Brown & Black & White)','Tricolor (Tan/Brown & Black & White)',{class:'item'}],['White','White',{class:'item'}]],:selected => f.object.color),{prompt:'Color'},class:'ui dropdown color')%>
          
        </div>
      </div>
      <div class="required field">
        <label>Tell everyone in short about your pet</label>
        <%=f.text_area :love_for_pets,{maxlength:'150'}%>
        
      </div>
      <h4 class="ui dividing header">Additional Info</h4>
      <div class="two fields">
        <%if @listing.for_foster=='0'%>
          <div class="required field price_field">
            <label>Price</label>
            <div class="ui icon input">
              <%=f.text_field :price,placeholder:"Price",class:'price_box'%>
              <i class="rupee icon"></i>
            </div>
          </div>
        <%else%>
          <div class="required field disabled price_field">
            <label>Price</label>
            <div class="ui icon input">
              <%=f.text_field :price,placeholder:"Price",class:'price_box',:readonly => true%>
              <i class="rupee icon"></i>
            </div>
          </div>
        <%end%>
        <div class="field">
          <label>Phone Number</label>
          <div class="ui icon input">
            <%=f.text_field :phone_no,placeholder:"Phone_no"%>
            <i class="call icon"></i>
          </div>
        </div>

    

</div>



<div class="ui hidden divider"></div>


<%=f.submit 'Edit',class:'ui teal button edit_listing'%>

<%end%>


</div>
<div class="ui eight wide column new_creation">
        <div class="ui message">
              <div class="header">
                Editing A Listing
              </div>
              <ul class="list">
                <li>Please mention all the details</li>
                <li>It will help people to find the listing easily</li>
                <li>Phone number increases your chances of getting a buyer</li>
                <li>Photos uploaded prior cannot be edited,if you want to upload new images,delete your prior listings and create a new one.</li>
              </ul>
        </div>
    </div>

</div>




