<div class="background" ng-controller="ListingController">
  <%=render 'layouts/filter'%>
  <%=render 'layouts/tabs'%>
  <%=render 'listings/small_cards'%>
  <%=render 'listings/horizontal_cards'%>
</div>
<div class="will_paginate">
    <%= will_paginate @listings%>
</div>


