<div class="ui padded page grid new_list_page" ng-controller="ListingController">

  <div class="ui eight wide column new_creation">

    <%=form_for @listing, :html=> { class:'ui form centered black stacked segment',id:'new_listing_form'},remote: true do |f|%>
    <div class="error">
    </div>
    <%render 'shared/error_messages', object: f.object %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    
    <div class="ui black ribbon label">
        <i class="signup icon"></i> New Listing
      </div>
      
      <h2 class="ui header">
        <i class="add user icon"></i>
        <div class="content">
          Create New Listing
          <div class="sub header">Manage your preferences</div>
        </div>
      </h2>

      <div class="required field">
        <label>Title</label>  
        <%=f.text_field :title,placeholder:'Title of the listing' %>
      </div>
      <div class="ui segment">
        <div class="two fields">
          <div class="field">
            <div class="ui toggle checkbox foster_pet">
              <%=f.radio_button :for_foster,'foster',class:'hidden foster_checkbox checkBox'%>
              <label>Put my pet for foster home</label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox adoption_pet">
              <%=f.radio_button :for_foster,'adoption',class:'hidden foster_checkbox checkBox'%>
              <label>Put this pet for adoption</label>
            </div>
          </div>
        </div>
      </div>
      <div class="two fields">

        <div class="required field">
          <label>Pet</label>
          <%= f.select(:pet_type,options_for_select([['Dog','Dog',{class:'item'}],['Cat','Cat',{class:'item'}]]),{prompt:'Pet'},{:"ng-model"=>"breed.pet_type",value_method: :value,class:'ui dropdown pet_type'})%>
        </div>
        <div class="field">
          <label>Breed</label>
          <%= f.select(:breed_type,options_for_select(Breed.all.collect{|x| [x.name,x.name,class:'item']}),{prompt:'Breed'},class:'ui search dropdown disabled breed_type')%>
        </div>

      </div>
      <div class="two fields">
        <div class="field">
          <label>Gender</label>
          <%= f.select(:gender,options_for_select([['Male','Male',{class:'item'}],['Female','Female',{class:'item'}]]),{prompt:'Gender'},class:'ui dropdown gender')%>
        </div>
        <div class="field">
          <label>City</label>
          <%= select(:listing,:city,options_for_select([['Mumbai','Mumbai',{class:'item'}],['Delhi','Delhi',{class:'item'}],['Pune','Pune',{class:'item'}],['Bangalore','Bangalore',{class:'item'}],['Agra','Agra',{class:'item'}],['Ahmedabad','Ahmedabad',{class:'item'}],['Aligarh','Aligarh',{class:'item'}],['Ambala','Ambala',{class:'item'}],['Amritsar','Amritsar',{class:'item'}],['Aurangabad','Aurangabad',{class:'item'}],['Bhopal','Bhopal',{class:'item'}],['Bhubaneshwar','Bhubaneshwar',{class:'item'}],['Chandigarh','Chandigarh',{class:'item'}],['Coimbatore','Coimbatore',{class:'item'}],['Darjeeling','Darjeeling',{class:'item'}],['Dehradun','Dehradun',{class:'item'}],['Faizabad','Faizabad',{class:'item'}],['Faridkot','Faridkot',{class:'item'}],['Fatehpur','Fatehpur',{class:'item'}],['Firozabad','Firozabad',{class:'item'}],['Firozepur','Firozepur',{class:'item'}],['Gandhinagar','Gandhinagar',{class:'item'}],['Ghaziabad','Ghaziabad',{class:'item'}],['Gurgaon','Gurgaon',{class:'item'}],['Guwahati','Guwahati',{class:'item'}],['Gwalior','Gwalior',{class:'item'}],['Hyderabad','Hyderabad',{class:'item'}],['Jaipur','Jaipur',{class:'item'}],['Jalandhar','Jalandhar',{class:'item'}],['Jammu','Jammu',{class:'item'}],['Kannur','Kannur',{class:'item'}],['Lucknow','Lucknow',{class:'item'}],['Nashik','Nashik',{class:'item'}],['Noida','Noida',{class:'item'}],['Ranchi','Ranchi',{class:'item'}],['Shimla','Shimla',{class:'item'}],['Udaipur','Udaipur',{class:'item'}],['Varanasi','Varanasi',{class:'item'}]]),{prompt:'City'},{:'ng-model'=>'listing1.city',class:'ui dropdown city'})%>
        </div>

      </div>
      <div class="two fields">
        <div class="field">
          <label>Age</label>
          <%= f.select(:age,options_for_select([['Young','Young',{class:'item'}],['Adult','Adult',{class:'item'}],['Senior','Senior',{class:'item'}],['Puppy','Puppy',{class:'item'}]]),{prompt:'Age'},class:'ui dropdown age')%>
        </div>
        <div class="field">
          <label>Color</label>
          <%= f.select(:color,options_for_select([['Black','Black',{class:'item'}],['Brindle','Brindle',{class:'item'}],['Brown/Choclate','Brown/Choclate',{class:'item'}],['Grey/Blue/Silver/Salt & Pepper','Grey/Blue/Silver/Salt & Pepper',{class:'item'}],['Merle','Merle',{class:'item'}],['Red/Golden/Orange/Chestnut','Red/Golden/Orange/Chestnut',{class:'item'}],['Tan/Yellow/Fawn','Tan/Yellow/Fawn',{class:'item'}],['(Tan/Brown & Black & White)','(Tan/Brown & Black & White)',{class:'item'}],['White','White',{class:'item'}]]),{prompt:'Color'},class:'ui dropdown color')%>
          
        </div>
      </div>
      <div class="required field">
        <label>A small description for the viewers</label>
        <%=f.text_area :description,{:'ng-model'=>'newListing.textarea',:'ng-trim'=>'false',maxlength:'500'}%>
        <span>{{500-newListing.textarea.length}} characters left</span>
      </div>
      <h4 class="ui dividing header">Additional Info</h4>
      <div class="two fields">
      
        <div class="required field price_field">
          <label>Price</label>
          <div class="ui icon input">
            <%=f.text_field :price,placeholder:"Price",class:'price_box'%>
            <i class="rupee icon"></i>
          </div>
        </div>
        <div class="field">
          <label>Phone Number</label>
          <div class="ui icon input">
            <%=f.text_field :phone_no,placeholder:"Phone_no"%>
            <i class="call icon"></i>
          </div>
        </div>
</div>



<div class="ui hidden divider"></div>
<%=f.submit 'Create',class:'ui teal button new_listing' %>

<%end%>


</div>

<div class="ui eight wide column new_creation">
 
  <div class="ui black stacked segment dropzone" id="media-dropzone">
    <div class="ui blue right ribbon label">
        <i class="upload icon"></i> Upload Images
      </div>
  <h2 class="ui center aligned icon header dz-message">
    <i class="upload icon"></i>
    <div class="content">
      Upload File
      <div class="sub header">Drop your images here</div>
    </div>
  </h2>
</div>
</div>



</div>
<div class="ui inverted dimmer">
<div class="ui text loader">Creating a new listing</div>
</div>
<script type="text/javascript">
  var breeds=new Array();
  <% Breed.all.each do |breed|%>
    breeds.push(new Array('<%= breed.pet_name %>', '<%=breed.name %>', '<%= breed.name %>'));
  <% end%>
</script>




