<div class="ui padded page grid">
  <div class="six wide column listing_show">
    <div class="ui segment imageDisplay">
      <%if @listing.photos.empty?%>
        <%=image_tag 'missing.png',class:'ui medium image show_image'%>
      <%else%>
        <%@listing.photos.each do |photo|%>
          <%=image_tag photo.file_name.url,class:"ui medium image show_image thumb",style:'display:none'%>
        <%end%>
      <%end%>
      
      <span class="prev">prev</span>
      <span class="next">next</span>   
    </div> 
    <div class="ui facebook button social_share" ng-click="shareFb(listing)">
      <i class="facebook icon"></i>
      Share On Facebook
    </div>
    <!-- <div class="ui google plus button social_share">
      <i class="google plus icon"></i>
      Share On Goggle Plus
    </div> -->
    <a href="https://twitter.com/share" class="ui twitter button social_share" data-via="petzoned" data-size="large" data-hashtags="petzoned"><i class="twitter icon"></i>
      Tweet About It</a>
      
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  
            
  <div class="ten wide column listing_show">
    <div class="ui segment">
      <a class="ui blue ribbon label">
        Pet Information</a>
        <div class="ui card" style="width:100%;">
          <div class="content">
            <div class="header"><%=@listing.title%>
              <div class="right floated header">
                <%if current_user%>
                  <i class="call icon">
                  </i><%=@listing.phone_no%>
                <%else%>
                  <a href="/login">
                    <button class="ui basic button">
                      <i class="icon call"></i>
                      Sign In To View The Number
                    </button>
                  </a>
                <%end%>
              </div>
            </div>

            <div class="meta">Posted On
            <% @date = @listing.created_at  %><%= @date.strftime("%B")%>
            <%= @date.strftime("%d")%>
            </div>
            <div class="description pet_love">
              <p><%=@listing.love_for_pets%></p>
              
            </div>
            <div class="ui divider"></div>
            <table class="ui definition table">
              <tbody>
                <tr>
                  <td class="two wide column">Type</td>
                  <td><%=@listing.pet_type%></td>
                </tr>
                <tr>
                  <td>Breed</td>
                  <td><%=@listing.breed_type%></td>
                </tr>
                <tr>
                  <td>Color</td>
                  <%if @listing.color.empty?%>
                    <td>Not Specified</td>
                  <%else%>
                    <td><%=@listing.color%></td>
                  <%end%>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td><%=@listing.gender%></td>
                </tr>
                <tr>
                  <td>Age</td>
                  <%if @listing.age.empty?%>
                    <td>Not Specified</td>
                  <%else%>
                    <td><%=@listing.age%></td>
                  <%end%>
                </tr>
                <tr>
                  <td>City</td>
                  <%if @listing.city.empty?%>
                    <td>Not Specified</td>
                  <%else%>
                    <td><%=@listing.city%></td>
                  <%end%>
                </tr>
              </tbody>
            </table>
            <div class="ui divider"></div>
            <div class="header">Price
              <div class="right floated header">Posted By
              </div>

            </div>
            <!--div class="meta"--><%=@listing.price%><i class="rupee icon"></i>
            <div class="right floated author">
              <%=link_to @listing.user.username,@listing.user,class:'creator_name'%>
            </div>
          </div>
        </div>
      </div>

      <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'vn123';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
  </div>

</div>
