<div class="ui padded page grid">
  <div class="six wide column"> 
  <%@listing.photos.each do |photo|%>
    <div class="ui segment">
      <div class="image">
        <%=image_tag photo.file_name.url,class:'ui medium image list_image' %>
      </div>
    </div>
    <%end%>
  </div>

  <div class="ten wide column">
    <div class="ui segment">
      <a class="ui blue ribbon label">
        Pet Information</a>
        <div class="ui card" style="width:100%;">
          <div class="content">
            <div class="header"><%=@listing.title%>
              <div class="right floated header">
                <i class="call icon">
                </i><%=@listing.phone_no%>
              </div>
            </div>

            <div class="meta">Posted On
            <% @date = @listing.created_at  %><%= @date.strftime("%B")%>
            <%= @date.strftime("%d")%>
            </div>
            <div class="description">
              <p><%=@listing.love_for_pets%></p>
              
            </div>
            <div class="ui divider"></div>
            <table class="ui definition table">
              <tbody>
                <tr>
                  <td class="two wide column">Type</td>
                  <td><%=@listing.pet_type%></td>
                </tr>
                <tr>
                  <td>Breed</td>
                  <td><%=@listing.breed_type%></td>
                </tr>
                <tr>
                  <td>Color</td>
                  <td>Brownish</td>
                </tr>
                <tr>
                  <td>Gender</td>
                  <td><%=@listing.gender%></td>
                </tr>
              </tbody>
            </table>
            <div class="ui divider"></div>
            <div class="header">Price
              <div class="right floated header">Posted By
              </div>

            </div>
            <!--div class="meta"--><%=@listing.price%><i class="rupee icon"></i>
            <div class="right floated author">
              <%=image_tag 'pets.png',class:'ui avatar image medium'%> Vivek Nayyar
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>