<div class="ui padded page grid new_list_page">
    <div class="ui eight wide column new_creation">
        <%=form_for @user, :html=> { class:'ui form centered black stacked segment'} do |f|%>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="ui black ribbon label">
                <i class="signup icon"></i> Edit Profile
            </div>
            
            <h2 class="ui header">
                <i class="user icon"></i>
                <div class="content">
                    Personal Information
                    <div class="sub header">Details Required for every listing</div>
                </div>
            </h2>

            <div class="two fields">
                <div class="required disabled field">
                    <label>Username</label>  
                    <%=f.text_field :username,placeholder:'Username',:readonly => true %>
                </div>
                <div class="required disabled field">
                    <label>Email</label>
                    <%=f.text_field :email,placeholder:'Email Address',:readonly => true%>
                </div>
            </div>
            <div class="two fields">
                <div class="required field">
                    <label>Password</label>  
                    <%=f.password_field :password,placeholder:'Password' %>
                </div>
                <div class="required field">
                    <label>Password Confirmation</label>
                    <%=f.password_field :password_confirmation,placeholder:'Confirm Password'%>
                </div>
            </div>


            <h4 class="ui dividing header">Additional Info</h4>

            <div class="two fields">
                <div class="required field">
                    <label>Gender</label>
                    <%= f.select(:gender,options_for_select([['Male','Male',{class:'item'}],['Female','Female',{class:'item'}]]),{prompt:@user.gender},{class:'ui dropdown gender'})%>
                </div>
                <div class="required field">
                    <label>City</label>
                    <select class="ui search dropdown">
                        <option value="">City</option>
                        <option value="MU">Mumbai</option>
                        <option value="DE">Delhi</option>
                        <option value="PU">Pune</option>
                        <option value="BA">Bangalore</option>
                    </select>
                </div>
            </div>

            <div class="required field">
                <label>Tell us in short why you love your pet</label>
                <%=f.text_area :love_for_pets,{:"ng-model"=>"user.textarea",:"ng-init"=>"user.textarea='#{@user.love_for_pets}'",:'ng-trim'=>'false',maxlength:'500'}%>
                <span>{{500-user.textarea.length}} characters left</span>
            </div>

            <div class="ui hidden divider"></div>
        <%=f.submit 'Edit Profile',class:'ui teal button new_user'%>
        <%end%>
    </div>
    <div class="ui eight wide column new_creation">
        <div class="ui card">
          <div class="image">
            <%=image_tag 'default.jpg',class:'ui medium image'%>
          </div>
          <div class="content">
            <a class="header"><%=current_user.username%></a>
            <div class="meta">
              <span class="date">Joined in <%=@user.created_at.strftime("%B")%><%=@user.created_at.strftime("%Y")%></span>
            </div>
            <div class="description pet_love">
              <p>{{user.textarea | limitTo:200}}</p>
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="edit icon"></i>
              <%= pluralize(@user.listings.count, "listing")%>
            </a>
          </div>
        </div>
    </div>
</div>
