<div class="ui four doubling special cards">
<%@users.each do |user|%>
    <div class="card user_profile_card">
      <div class="dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <%=link_to 'Show Listings',user,class:'ui inverted button'%>
            </div>
          </div>
        </div>
        <%=image_tag 'default_avatar.png',class:'ui small image'%>
      </div>
      <div class="content">
        <%=link_to user.username,user,class:'header'%>
        <div class="meta">
          <%=user.gender%>
        </div>
        <div class="description pet_love">
          <p><%=truncate(user.love_for_pets, length: 100, omission: '... (ReadMore)')%></p>
          <%if user.for_foster?%>
            <button class="ui green button foster_button">Ready to Foster</button>
          <%else%>
            <button class="ui blue button foster_button">Not Ready to Foster</button>
          <%end%>
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          <span class="date">Joined on <%=user.created_at.strftime("%B")%> <%=user.created_at.strftime("%Y")%></span>
        </span>
        <span>
          <i class="edit icon"></i>
          <%=link_to "#{user.listings.count} Listings",user%>
        </span>
      </div>
    </div>
  <%end%>
</div>
