<% provide(:title,'Pet Zoned| Home') %>

  <div class="ui masthead segment">
  <%=render 'layouts/header'%>
  
    
    <div class="ui grid home_page_grid">
      <div class="column">
        
        <%image_tag 'pets.png',class:"ui big image"%>
        <div class="ui hidden transition information">
          <!-- <h1 class="ui header">
            Pets For Life
          </h1>
          <p>Buy or  sell your pets using our portal and also get various other information regarding pets</p> -->
          <div class="petzoned_logo">
            <%=image_tag 'plogo1.png',class:"logo_image"%>
          </div>
          <%= form_tag users_path, class:'ui form',method: :get do %>
            <!-- <h4 class="ui dividing header">Personal Information</h4> -->
            <!-- div class="two fields"> -->
              <div class="field" id="breed_search_field">
                <label id="home_label">Breed Name</label>
                <!-- <div class="ui small icon input"-->
                  <%=text_field_tag :query,params[:query],class:'typeahead',id:'user_search',placeholder:'Search Breeder' %>
                  <!-- <i class="search icon"></i> -->
               <!--  </div> -->
                  <!-- <div class="ui category search">
                    <div class="ui icon input">
                      <input class="prompt" type="text" placeholder="Search Breeder..." id="user_search">
                      <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div> -->
              </div>
              <!-- <div class="field">
                <label id="home_label">Pet Type</label>
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender">
                  <div class="default text">Pet Type</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" data-value="cat">Cat</div>
                    <div class="item" data-value="dog">Dog</div>
                    <div class="item" data-value="bird">Birds</div>

                  </div>
                </div>
              </div> -->
           <!--  </div> -->
            <!-- <div class="two fields"> -->
              <!-- <div class="field"> -->
                <!-- <label>City</label>
                <select class="ui search dropdown">
                  <option value="">City</option>
                  <option value="MU">Mumbai</option>
                  <option value="DE">Delhi</option>
                  <option value="PU">Pune</option>
                  <option value="BA">Bangalore</option>
                </select> -->
                <!-- <label>Pet Type</label>
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender">
                  <div class="default text">Pet Type</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" data-value="cat">Cat</div>
                    <div class="item" data-value="dog">Dog</div>
                    <div class="item" data-value="bird">Birds</div>

                  </div>
                </div>
              </div> -->
              <!-- <div class="field">
                <label>Gender</label>
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender">
                  <div class="default text">Gender</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" data-value="male">Male</div>
                    <div class="item" data-value="female">Female</div>
                  </div>
                </div>
              </div> -->
              
           <!--  </div> -->
            <div class="ui right labeled icon button" id="home_page_search_btn">
            Search
            <i class="search icon"></i>
          </div>
          <%link_to 'View All Listings',listings_path,class:'ui positive button'%>
            
            
            
          <%end%>

          
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="edit icon"></i>
              Create A Listing
            </div>
            <p>Put a listing describing the pet with some minimal information</p>
            <p>
              <%=link_to 'Create',new_listing_path,class:'ui button'%>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="user icon"></i>
              Meet A Breeder
            </div>
            <p>
              Buy your choice of pet from this breeder at the price listed on his advertisement.
            </p>
            <p>
              <a class="ui blue right labeled icon button" href="/users">
                Meet A Breeder
                <i class="right chevron icon"></i>
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="group icon"></i>
              Community
            </div>
            <p>Get feedback on your pet and advice from a community of loving pet owners on our online bulletin board system.</p>
            <p>
              <a class="ui button" href="#">
                Share
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  

      
        <h1 class="center aligned ui header">
            Most Recent Listings
        </h1>
        
      <!--div class="row">
        <div class="ten wide column">
          <h3 class="ui inverted header">How to Win Your Cats Attention</h3>
          <p>Getting your cat to notice you is a large part of being a pet owner. Although I have a lot of patience for writing things about cats, perhaps this might be enough body copy to make this section of text look filled out.</p>
          <p>This and other tips can be found in our newsletter, amazing right?</p>
          <div class="ui basic inverted animated button button">
            <div class="visible content">Read More</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
          </div>
          <div class="ui inverted section divider"></div>
          <h3 class="ui inverted header">More articles</h3>
          <div class="ui inverted animated selection list">
            <div class="item">
              How to win in a fight with a cat
              <div class="right floated">Jan 20, 2023</div>
            </div>
            <div class="item">
              A Supposedly Fun Cat Toy I will Never Buy Again
              <div class="right floated">Jan 1, 2023</div>
            </div>
            <div class="item">
              Much ado about yarn
              <div class="right floated">Dec 20, 2022</div>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <div class="ui form segment">
            <h3 class="ui header">Bi-Daily Newsletter</h3>
            <p>Sign up and get spammed with cats every day. We have no unsubscribe button!</p>
            <div class="field">
              <div class="ui left icon action input">
                <i class="user icon"></i>
                <input name="email" type="text" placeholder="name@email.com">
                <div class="ui black submit button">Sign up</div>
              </div>
            </div>
            <div class="ui error message"></div>
          </div>
        </div>

      </div-->
      <div class="most_popular_listings" ng-controller="ListingController">
      <%=render 'listings/small_cards'%>
    </div>
    <%=render 'layouts/footer'%>


