<% provide(:title,'Pet Zoned| Home') %>
  <div class="ui masthead segment">
    <%=render 'layouts/header'%>
    <div class="ui grid home_page_grid">
      <div class="column">
        <%image_tag 'pets.png',class:"ui big image"%>
        <div class="ui hidden transition information">
          <div class="petzoned_logo">
            <%=image_tag 'plogo1.png',class:"logo_image"%>
          </div>
          <%= form_tag search_breed_path, class:'ui form',method: :get do %>
            <div class="field" id="breed_search_field">
              <label id="home_label">Breed Name</label>  
              <%=text_field_tag :query,params[:query],class:'typeahead',id:'breed_search',placeholder:'Search Breed' %>    
            </div>
            <%= button_tag(type: "submit", class: "ui right labeled icon button",id:"home_page_search_btn") do %>
              Search <i class="search icon"></i>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui three column center aligned stackable divided grid">
          <div class="column">
            <div class="ui icon header">
              <i class="edit icon"></i>
              Create A Listing
            </div>
            <p>Put a listing describing the pet with some minimal information</p>
            <p>
              <%=link_to 'Create',new_listing_path,class:'ui button'%>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="user icon"></i>
              Meet A Breeder
            </div>
            <p>
              Buy your choice of pet from this breeder at the price listed on his advertisement.
            </p>
            <p>
              <a class="ui blue right labeled icon button" href="/users">
                Meet A Breeder
                <i class="right chevron icon"></i>
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="group icon"></i>
              Community
            </div>
            <p>Get feedback on your pet and advice from a community of loving pet owners on our online bulletin board system.</p>
            <p>
              <a class="ui button" href="#">
                Share
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>    
  <h1 class="center aligned ui header">
      Most Recent Listings
  </h1>   
  <div class="most_popular_listings" ng-controller="ListingController">
    <%=render 'listings/small_cards'%>
  </div>
  <%=render 'layouts/footer'%>
  <script type="text/javascript">
  var breeds=new Array();
  <% Breed.all.each do |breed|%>
    breeds.push('<%=breed.name %>');
  <% end%>
  </script>


