<div class="ui inverted blue menu">
  <div class="header item">PetsForLife</div>
  <div class="right menu">
    <div class="ui mobile dropdown link item">
      Menu
      <i class="dropdown icon"></i>
      <div class="ui vertical menu">

        <%=link_to 'Create Listing',new_listing_path,class:"active teal item"%>
        <%=link_to 'Listings',listings_path,class:'item'%>
        <% if current_user%>
          <%=link_to 'Logout',logout_path,class:'item'%>
        <%else%>
          <%=link_to 'Login',login_path,class:'item'%>
          <%=link_to 'Register',signup_path,class:'item'%>
        <%end%>

      </div>
    </div>
    <%=link_to 'Create Listing',new_listing_path,class:'item'%>
    <%=link_to 'Listings',listings_path,class:'item'%>
    <% if current_user%>
          <%=link_to 'Logout',logout_path,class:'item'%>
    <%else%>
          <%=link_to 'Login',login_path,class:'item'%>
          <%=link_to 'Register',signup_path,class:'item'%>
    <%end%>
  </div>
</div>


