<!DOCTYPE html>
<html ng-app='PetForLife'>
    <head>
        <title>PetForLife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
          
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%=yield(:head)%>
        <%= csrf_meta_tags %>
        <%= cloudinary_js_config %>
        <script type="text/javascript">
            $(window).load(function() {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");;
            });
        </script>

    </head>
    <body id="home">
        <div class="se-pre-con">
        </div>
        <div id="fb-root"></div>

        <script>
            window.fbAsyncInit = function() {
            FB.init({appId: '1579788118950175', status: true, cookie: true,
            xfbml: true});
            };
            (function() {
            var e = document.createElement('script'); e.async = true;
            e.src = document.location.protocol +
            '//connect.facebook.net/en_US/all.js';
            document.getElementById('fb-root').appendChild(e);
            }());
        </script>
        <%if request.fullpath!='/'%>
            <%=render 'layouts/header'%>
        <%end%>
        <%= yield %>
    </body>
</html>
